@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap");
.page__container{
	font-family: "lato";
	color: #424551;
	max-width: 1230px;
	margin: 0 auto;
}
.maintext{
	margin: 120px 0 40px 0;
}
.maintext__box{
	font-weight: 900;
	font-size: 46px;
	color: #1E212C;
	line-height: 130%;
}
.text{
	margin-bottom: 48px;
}
.text__box{
	line-height: 160%;
}
.texttitle__box{
	font-weight: 700;
	font-size: 28px;
	line-height: 150%;
	color: #1E212C;
	margin-bottom: 24px;
}
.textul__box li{
	line-height: 160%;
	padding-left: 32px;
	background: url("../img/icons/vector.png")no-repeat 0 5px;
}
.textul__box li:not(:last-child){
	margin-bottom: 4px;
}
.textul__box{
	margin-bottom: 184px;
}
.curator__box{
	text-transform: uppercase;
	font-weight: 700;
	line-height: 150%;
	margin: 20px 0 8px 0;
}
.curatormaintext{
	margin-bottom: 16px;
}
.jobtitle{
	font-size: 20px;
	line-height: 150%;
	color: #787A80;
	margin-bottom: 32px;
}
.statistics__box{
	margin-bottom: 32px;
}
.statistics__box li{
	padding-left: 24px;
	font-weight: 700;
	line-height: 160%;
}
.statistics__box li:first-of-type{
	background: url("../img/icons/star.png")no-repeat 0 5px;
}
.statistics__box li:nth-child(2){
	background: url("../img/icons/play.png")no-repeat 0 5px;
}
.statistics__box li:nth-child(3){
	background: url("../img/icons/person.png")no-repeat 0 5px;
}
.textend{
	margin-bottom: 100px;
}
.practice{
	font-size: 36px;
	font-weight: 900;
	text-align: center;
	text-shadow: 5px 5px 20px grey;
	margin-bottom: 50px;
}
.invisible{
	padding: 20px;
	background-color: cadetblue;
	margin-bottom: 50px;
	border-radius: 25px;
	box-shadow: 5px 5px 20px black;
}
.invisible:hover .invisible__box{
	visibility: visible;
	opacity: 1;
	color: yellow;
}
.invisible__container{
	opacity: 0;
	visibility: hidden;
}
.active{
	border-radius: 25px;
	box-shadow: 5px 5px 20px chocolate;
	background-color: bisque;
	padding: 20px;
	margin-bottom: 50px;
}
.active:active{
	color: yellow;
	background-color: cadetblue;
	box-shadow: 1px 1px 1px chocolate
}
.listitem{
	margin: 0 0 50px 50px;
}
ul .itemlist{
	display: none;
}
.itemlist{
	margin-left: 20px;
}
ul .listitem__link:hover .itemlist{
	display: block;
}
.links a:visited{
	color: red;
}
.links{
	margin: 0 0 50px 50px;
}
.link:focus{
	outline: 1px solid red;
}
.link:visited{
	color: green;
}
.link{
	display: block;
}
.block{
	max-width: 500px;
	background-color: coral;
	margin: 0 0 50px 50px;
	display: none;
}
.block:target{
	display: block;
}
.span::before{
	content: "@";
}
.span::after{
	content: "#";
}
.div{
	margin-bottom: 50px;
}
.div::before{
	content: "*";
	text-shadow: 1px 1px 2px black;
}
.div::after{
	content: "!";
	color: red;
}
.point li::before{
	background: url("../img/icons/star.png") 0 0 no-repeat;
	content: "";
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-right: 16px;
}
.point{
	margin-bottom: 100px;
}